.Btn-container{
        margin-top: 2px;
 }

.add-ether-btn{
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    width: auto;
    background-color: darkslategray;
    
}
