.footer{
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 20px;
    font-weight: 900px;
    background-color: #0ee0ee;
    box-sizing: content-box;
}