/* Styles go here */
.main {
   text-align: center;
   background:url(back1.jpg) no-repeat;
   background-position: bottom;
   background-color: blue;
   background-size: cover;
   height: 100%;
   background-attachment: fixed;
  
   
  }

  .lang-list{
      list-style: none;
  }



